In [1]:
cars=["Alto","Ecco","Eon","Accent"]

In [2]:
len(cars)

4

In [3]:
cars[4]

IndexError: list index out of range

In [4]:
print(cars[-1])

Accent

In [5]:
print(cars[-2])

Eon

In [6]:
print(cars[-4])

Alto

-1 is the last element in the list

In [7]:
#Updating the list
cars[3]="Hyundai Accent"

In [8]:
cars

['Alto', 'Ecco', 'Eon', 'Hyundai Accent']

In [9]:
#Use append() method to add element to the end of the list
cars.append("Honda City")

In [10]:
cars

['Alto', 'Ecco', 'Eon', 'Hyundai Accent', 'Honda City']

append() cannot be called with multiple elements

In [11]:
cars.append("car1","car2")

TypeError: append() takes exactly one argument (2 given)

In [12]:
# Inserting an element at a given position. Use insert() method.
cars.insert(2,"Santro")

In [13]:
cars

['Alto', 'Ecco', 'Santro', 'Eon', 'Hyundai Accent', 'Honda City']

Santro was inserted at 3rd position. Index 2

In [14]:
cars.insert(10,"Honda Civic")

In [15]:
cars

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic']

Even though cars list initially contained less number of elements than 10, the insert() still works fine. In such a case it will simply insert the new element at the end of the list

In [16]:
len(cars)

7

Use the extend() method if you want to add multiple items in the list

In [17]:
cars.extend(["Jeep Compass","Tata Sumo"])

In [18]:
cars

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo']

extend() takes an input which is another list

In [20]:
cars2 = ["Tata Nexon","Maturi Celero"]

In [21]:
complete_cars = cars + cars2

In [22]:
complete_cars

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maturi Celero']

Concatenation works with list. It can take two lists and add them

What if you want to know the index position where Honda Civic is. Use the index() method. It takes the value and returns the index position of it's first occurance (in case there are duplicate values).

In [23]:
complete_cars.index("Honda Civic")

6

<strong>Note:</strong> The match is case sensitive

To remove an element from the list, use the remove method. It takes the value as input

In [24]:
complete_cars.remove("Maturi Celero")

In [25]:
complete_cars

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon']

In [26]:
complete_cars.index("Maturi Celero")

ValueError: 'Maturi Celero' is not in list

index() method gives an error if the element is not found in the list

In [27]:
complete_cars += ["Maruti Dezire"] #This is same as complete_cars = complete_cars + ["Maruti Dezire"]

In [28]:
complete_cars

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maruti Dezire']

** Sorting a list using sort()

In [32]:
numbers = [1,10,6,2,9,7]

In [33]:
print(numbers)

[1, 10, 6, 2, 9, 7]

In [34]:
numbers.sort()

In [35]:
print(numbers)

[1, 2, 6, 7, 9, 10]

The sort() operation is permanent. Sorts the list in ascending or lexographical order

In [36]:
numbers.reverse()

In [37]:
print(numbers)

[10, 9, 7, 6, 2, 1]

reverse() will reverse the order of elements in the list

<strong>Note:</strong>pop() method without any parameter will remove the last element of the list

In [1]:
numbers = [10,9,7,6,2]
print(numbers)

[10, 9, 7, 6, 2]

In [41]:
i = numbers.pop()
print(numbers)
print(i)

[10, 9, 7, 6]
2

The last element 2 was removed from the list

List can contain duplicate elements

In [42]:
numbers.extend([2,9])

In [43]:
numbers

[10, 9, 7, 6, 2, 9]

In [44]:
print(numbers.count(9))
print(numbers.count(2))

2
1

9 is present two times and 2 is present once
<br>
In case of string, the match is case sensitive

* To clear all the elements of the list in one go

In [45]:
dummy_list = [1,2,3]

In [47]:
dummy_list

[1, 2, 3]

In [48]:
dummy_list.clear()

In [49]:
dummy_list

[]

Now the above list is empty after the clear() method is called.

* To delete a list completly from memory

In [50]:
dummy_list2=["a","b","c"]

In [51]:
dummy_list2

['a', 'b', 'c']

In [52]:
del dummy_list2

In [53]:
dummy_list2

NameError: name 'dummy_list2' is not defined

As you can see after the del statement, dummy_list2 is removed from the memory and cannot be used

<strong>Deep Copy of a List</strong>

Deep copy means creating a completely new copy of the list and maintains it own memory reference

In [56]:
list_1 = ["Amit","Naveen","Priti"]

In [57]:
list_2 = list_1.copy()

In [58]:
print(list_1)
print(list_2)

['Amit', 'Naveen', 'Priti']
['Amit', 'Naveen', 'Priti']

In [59]:
list_1.pop()

'Priti'

In [60]:
print(list_1)
print(list_2)

['Amit', 'Naveen']
['Amit', 'Naveen', 'Priti']

As you can see - using deep copy, any changes done to list_1 does not impact list_2

<strong>Shallow Copy of the list</strong>

In [61]:
list_3 = list_1

In [62]:
list_3.append("Vinod")

In [63]:
print(list_1)
print(list_2)
print(list_3)

['Amit', 'Naveen', 'Vinod']
['Amit', 'Naveen', 'Priti']
['Amit', 'Naveen', 'Vinod']

Shallow copy is done using the asignment operator. Shallow copy refers to the same memory location as original list. Any changes done using the shallow copy impacts the original list, since both of them are pointing towards the same memory location

In [64]:
numbers = [10,34,1,8,90,56,84,72]

In [65]:
max(numbers) #Returns the max from the list

90

In [66]:
min(numbers) #Returns the min from the list

1

We know that sort() method sorts the elements of the list and permanently changes the list

In [67]:
numbers.sort()

In [68]:
print(numbers)

[1, 8, 10, 34, 56, 72, 84, 90]

Now, let's add another element in the list so that it is no longer sorted

In [69]:
numbers.append(23)

In [70]:
print(numbers)

[1, 8, 10, 34, 56, 72, 84, 90, 23]

Now you see that the list is no longer sorted

In [71]:
sorted_numbers = sorted(numbers)

In [72]:
print(sorted_numbers)
print(numbers)

[1, 8, 10, 23, 34, 56, 72, 84, 90]
[1, 8, 10, 34, 56, 72, 84, 90, 23]

You see that sorted() function returns a completly new list which is sorted but does not impact the original list

In [73]:
sum(numbers) #adds all the elements of the list

378

In [74]:
numbers *= 2 #This is same as numbers = numbers * 2
# So what happens when we multiply the entire list by 2. Let's see

In [75]:
print(numbers)

[1, 8, 10, 34, 56, 72, 84, 90, 23, 1, 8, 10, 34, 56, 72, 84, 90, 23]

We see that the entire list got repeated (became twice because of *2 ) and the original list is changed

In [76]:
# Multiplying by floating point number will not work
numbers *= 2.5

TypeError: can't multiply sequence by non-int of type 'float'

<strong>Note:</strong> In Python, 0 is same as False and any number greater than 0 is same as True

<strong>all()</strong> function

It returns True if all the elements in the list is True.

In [77]:
all([0])

False

In [78]:
all([1])

True

In [79]:
all([0,1])

False

In [80]:
all([1,2,3])

True

In [81]:
all(['a','b'])

True

In [82]:
all([]) # all() with an empty list returns True

True

In [83]:
all(numbers) # since all the elements of the numbers list was > 0

True

<strong>any()</strong> function
<br>
any() returns True when atleast one of the elements in the list is True

In [84]:
any([0])

False

In [85]:
any([1])

True

In [86]:
any([numbers])

True

In [87]:
any([0,1,2,4])

True

In [88]:
any([])

False

<strong>Note:</strong>The difference between all([]) and any([]) is all([]) returns True and any([]) returns False.

### List Slicing

In [89]:
complete_cars

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maruti Dezire']

In [90]:
complete_cars[0:4] # Give me elements from 0 till index 3

['Alto', 'Ecco', 'Santro', 'Eon']

<strong>Note:</strong> Slicing operation creates a deep copy of the list

In [91]:
# If the end index is greater than the actual length of the list, you will get the entire list
complete_cars[0:100]

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maruti Dezire']

In [92]:
# Skipping the End index. That means go till the end of the list
complete_cars[0:]

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maruti Dezire']

In [93]:
complete_cars[3:] # starting index 3 go till the end

['Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maruti Dezire']

In [95]:
complete_cars[11:]

[]

If the starting index is higher than the actual length of the list, then we get an empty list

In [96]:
complete_cars[5:6] # starting at index 5 but not include index 6. So that means only index 5

['Honda City']

In [97]:
complete_cars[:5] # from index 0 till index 4

['Alto', 'Ecco', 'Santro', 'Eon', 'Hyundai Accent']

In [98]:
complete_cars[:] #returns the entire list

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic',
 'Jeep Compass',
 'Tata Sumo',
 'Tata Nexon',
 'Maruti Dezire']

In [99]:
complete_cars[0:-4]

['Alto',
 'Ecco',
 'Santro',
 'Eon',
 'Hyundai Accent',
 'Honda City',
 'Honda Civic']

value at index -4 is Jeep Compass. This will not be included. The list will start at index 0 = Alto and go till Honda Civic

In [100]:
complete_cars[-4:-1] # Start from the 4th last element in the list and upto and not including the last element of the list

['Jeep Compass', 'Tata Sumo', 'Tata Nexon']

In [101]:
# If the specified range does not make sense, then python will return an empty list
complete_cars[-2:-4]

[]

<strong>Slicing with step sizing</strong>
<br>
The default step size is 1

In [102]:
complete_cars[3:7:]

['Eon', 'Hyundai Accent', 'Honda City', 'Honda Civic']

In [103]:
complete_cars[::2] # access every alternate element

['Alto',
 'Santro',
 'Hyundai Accent',
 'Honda Civic',
 'Tata Sumo',
 'Maruti Dezire']

In [105]:
[1,2,3,4,5,6,7,8,9][0:5:2] # from 0 till incuding 4 - step 2

[1, 3, 5]

In [106]:
[1,2,3,4,5,6,7,8,9][0:7:3]

[1, 4, 7]

<strong>Note:</strong> The step can be -ve as well. If it is -ve, the list is travesed in reverse order

In [107]:
[1,2,3,4,5,6,7,8,9][::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

This is a simple way to reverse a list. Note: .reverse() method will actually reverse the original list. But [::-1] is a way to create a deep copy reverse order list from the original list

In [108]:
[1,2,3,4,5,6,7,8,9][3:0:-1]

[4, 3, 2]

In the above example, it is from index 3 uptil but not including index 0 in reverse order.

In [109]:
[1,2,3,4,5,6,7,8,9][-4:0:-1]

[6, 5, 4, 3, 2]

6 is at index position -4. Goes uptil but not including index 0 in reverse order

In [110]:
[1,2,3,4,5,6,7,8,9][::-2]

[9, 7, 5, 3, 1]

Stepping 2 elements in reverse order

#### Funky Assignments
list[x:-n]=[a,b,c]
<br>
From the list 1st take everything from index 0 up until and not including index x
<br>
At index x insert the values a,b,c
<br>
Then from the list take values indicated by -n (reverse index)
<br>
Finally attach all these parts

In [111]:
my_series = list(range(1,10))

In [112]:
print(my_series)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
my_series[4:-2]=[20,30]

In [114]:
print(my_series)

[1, 2, 3, 4, 20, 30, 8, 9]

In [115]:
my_series = list(range(1,10))

In [116]:
print(my_series)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
my_series[0:-2]=[20,30]

In [118]:
print(my_series)

[20, 30, 8, 9]

In [119]:
my_series = list(range(1,10))

In [120]:
print(my_series)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
my_series[2:-2]=[20,30,40,50,60,70]

In [122]:
print(my_series)

[1, 2, 20, 30, 40, 50, 60, 70, 8, 9]

In [124]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9][9:-2]=[20,30,40,50]

In [125]:
print(a)

[20, 30, 40, 50]

#### in operator in List
Used to check the existance of an element in the list

In [126]:
a = list(range(0,11))

In [127]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [128]:
5 in a

True

In [129]:
9 in a

True

In [130]:
a.pop(-2)

9

In [131]:
9 in a

False

### Strings in Python

Strings in Python are siliar to lists but there are differences
<br>
Strings are immutable. You cannot change the value of the index position of a string

In [2]:
x = 'World'

In [3]:
x[0] = 'w'

TypeError: 'str' object does not support item assignment

#### String unpacking

In [4]:
a,b,c,d,e = x # x = 'World'

In [5]:
print(a)

W

In [6]:
print(b)
print(c)

o
r

Remember to have enough variables to do proper unpacking
<br>Let's try with less number of variables

In [7]:
a,b,c,d = x

ValueError: too many values to unpack (expected 4)

There is another interesting assignment possible in Python string unpacking. See example below

In [8]:
a,b,_,_,_ = x

In [9]:
print(a)
print(b)

W
o

In this example above we know there are 3 more characters in variable x but we were not interested in storing them. So we assigned them to underscore ( _ ). That's how those characters were ignored.

#### input() function

*) Input() function is used to take user input<br>
*) The output is always a string

In [12]:
place = input("Where do you want to go ")
print(place)

Where do you want to go California
California

In [13]:
n = input("Enter a number")
n

Enter a number4

'4'

As you see above, 4 is a number. You can cast this into an int

In [14]:
n = input('Enter a number')
try:
    n_num = int(n)
except:
    print('Error')
n
n_num

Enter a number4

4

P.S. You do not have to use try/except. I did it for fun

In [15]:
a = map(int,input('Enter elements of a numeric array').split())
a
arr = list(a)
arr

Enter elements of a numeric array1 3 7 2 9 10 6 7

[1, 3, 7, 2, 9, 10, 6, 7]

input().split() takes the user input and then split them up as per spaces and makes a list out of it. Then map() applies int casting to each element of the list and creates a map object. Also remember, for map() we write the name of the function int - not int()
<br>
Then we use this map object to create a list of numbers

On List on can apply other functions like len(), .count() or do slicing.

#### del statement for String

If you no longer need a string or list, you can delete them from memory using the del statement

In [16]:
name = 'Subhojeet'
del name

In [17]:
name

NameError: name 'name' is not defined

As you can see name variable has been deleted from memory

#### Useful functions with String

In [18]:
place = 'New York City'

In [19]:
place.startswith('N')

True

In [20]:
place.startswith('n')

False

In [21]:
place.endswith('y')

True

In [22]:
place.endswith('City')

True

In [23]:
place.startswith('New')

True

In [24]:
place.startswith('Ne')

True

In [26]:
place.count('y')

1

Note: case matters in string functions

In [27]:
place.lower()

'new york city'

In [28]:
place.upper()

'NEW YORK CITY'

In [29]:
place.upper().count('Y')

2

In [30]:
place.lower() == place.upper()

False

In [31]:
place.find('C')

9

In [32]:
place.find('City')

9

In [33]:
place.find('York')

4

In [34]:
place.find('Z')

-1

Note: find() returns -1 if the value is not found.

In [35]:
place.index('C')

9

In [36]:
place.index('City')

9

In [37]:
place.index('York')

4

In [38]:
place.index('Z')

ValueError: substring not found

* So, index() and find() behaves very similar just that if a substring is not found, then find() returns -1 and index() throws an error

In [39]:
place.split()

['New', 'York', 'City']

In [40]:
place.split('k')

['New Yor', ' City']

In the above example split('k'), "k" behaves like a separator. So the string is divides into parts separated by "k".
<br>
If you do not pass anything to the split() then it takes space as a separator as should in the 1st example
<br><br>
<strong>Note: </strong>split() creates a list

In [41]:
input('Enter a statement').split()

Enter a statementI am a good boy

['I', 'am', 'a', 'good', 'boy']

* Opposite of split() is the join() method

In [42]:
word_list = place.split()

join_char = ','
join_char.join(word_list)

'New,York,City'

All there elements of the list is joined by ','

In [44]:
' '.join(word_list)

'New York City'

Remember to put a space there ' '. '' will not work